*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    position: static;
}

.text-sm{
    font-size: .875rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
    size: 150%;
}

a{
    text-decoration: none;
    color: inherit;
}

#other-nav-link{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.margin{
    margin-left: 15px;
}

.underline{
    text-decoration: underline;
    color: white;
    display: block;
}

#device-support{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
}

#callToAction{
    text-align: center;
    margin-top: 100px;

}

#callToActionButton{
    box-shadow: 2px 2px 2px black;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

#callToActionButton:hover{
    background-color: blueviolet;
}

.h2{
    padding-top: 40px;
    padding-bottom: 10px;
}

h1{
    font-size: 100px;
}